ref/
node_modules/
dist/
*.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ignore gitpmoji directory
.gitpmoji

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist
